.special {
    color: rgb(52, 80, 56);
    font-weight: bold;
  }
h1 {
    color: rgb(49, 30, 66);
}

.container {
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.container>* {
    color: rgb(36, 81, 179);
    margin: 0 20px;
    flex: 2;
}
a:link {
    color: brown;

}
a:link {
    text-decoration: line-through;
    font-weight: bolder;
  }
body{
    background-color: rgb(120, 138, 138);
}